<p id="notice"><%= notice %></p>

<h1>Widget Information</h1>
<h2 data-testid="widget-name"><%= @widget.name %></h2>
<h2>
  ID #<%= styled_widget_id(@widget.user_facing_identifier) %>
</h2>

<p>
  <strong>Name:</strong>
  <%= @widget.name %>
</p>

<p>
  <strong>Price cents:</strong>
  <%= @widget.price_cents %>
</p>

<p>
  <strong>Widget status:</strong>
  <%= @widget.widget_status_id %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @widget.manufacturer_id %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
